name: Deploy to Server

on:
  push:
    branches:
      - main  # mainブランチにpushされたときに実行

jobs:
  deploy-to-xserver:
    runs-on: ubuntu-latest
    env:
      NOTION_API_SECRET: ${{ secrets.NOTION_API_SECRET }}
      DATABASE_ID: ${{ secrets.DATABASE_ID }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: volta-cli/action
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm ci
      - name: Build project
        run: npm run build
      ## FTP deployを使用したFTPアップロードの記述
      - name: Upload files on Xserver
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./dist/
          server-dir: /${{ secrets.FTP_SERVER }}/public_html/